.navBarMy{
  align-items: center;
  /* background-image: url(../../../assets/fondo.jpg); */
  background-color: rgb(21, 16, 11);
  background-size: cover;
  border-bottom:2px solid grey;
  display: flex;
  flex-direction: row;
  /* justify-content:; */
}
