<div class="container card">
  <span class='mt-3 float-start' style="text-align: end;" >
    <a target='blanck' href='./' title="Retornar">
      <i class="fa-regular fa-rectangle-xmark fs-4 " style="color:antiquewhite">
      </i>
    </a>
  </span>
  <h3 class="text-center">Cálculo del consumo de cerveza</h3>
  <h4 class="text-center">ingresa los datos del clima</h4>
  <div class="container">
    <form (submit)="calculo_sin_api()">
      <div class="">
        <div class="row" style="justify-content: space-bee">
          <div class="col-6">
            <div class="">
              <label for="temp" class="col-form-label fs-5" style="width: 100%; text-align: center">Temperatura (°C):</label>
              <input style="width: 100%; text-align: center" type="text" class="form-control fs-6 a" name="temp"
                id="temp" required [(ngModel)]="temp" />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-2 row">
              <label for="lluvia" class="col-form-label fs-5" style="width: 90%; text-align: center">lluvia
                (mm):</label>
              <input style="width: 90%;text-align: center" type="number" class="form-control a" name="lluvia" id="lluvia"
                [(ngModel)]="lluvia" required />
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-6">
          <label for="consumo_mean_lts" class="col-form-label fs-6" style="width: 100%; text-align: center">
            Consumo diario promedio (lts):</label>
          <input style="width: 100%; text-align: center" type="number" class="form-control fs-6 a"
            name="consumo_mean_lts" id="consumo_mean_lts" [(ngModel)]="consumo_mean_lts" required />
        </div>

        <div class="col-6 mt-3 ">
          <div class="mb-1" style="text-align: center">
            <label class="fs-6">Es ferriado o fin de semana?</label>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <label class="form-check-label fs-6" for="x3_si">Sí</label>
                <input type="radio" class="form-check-input" id="x3_si" name="x3" [value]="true"
                  [(ngModel)]="esFeriado" checked />
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="x3_no" name="x3" [value]="false"
                  [(ngModel)]="esFeriado" />
                <label class="form-check-label fs-6" for="x3_no">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <!-- <button type="submit" class="btn btn-dark col-12" name="enviar">
          Estimar consumo de cerveza
        </button> -->
      </div>
    </form>
  </div>
</div>

<div class="container card">
  <h2 class="text-center fs-1 mt-2">Pronóstico de consumo</h2>
  <div>
    <ul>
      <li class="form-control fs-3 a text-center" *ngIf="calculo_sin_api()>=0">
        <i class="fa fa-bounce fs-4 " style="color:antiquewhite">
          {{ consumo_mean_lts_result | number : "1.0-0" }} lts
          <img style="width:45px; height:40px" src="assets/beer.png" alt="Beer Image">
        </i>
        <i class="fa fa-fade fs-3 " style="color:dodgerblue;font-weight: 500;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          (+{{calculo_sin_api() | number : "1.2-2"}}%) genial!
       </i>
      </li>
      <li class="form-control fs-3 a text-center" *ngIf="calculo_sin_api()<0">
        <i class="fa fa-shake fs-4 " style="color:antiquewhite">
          {{ consumo_mean_lts_result | number : "1.0-0" }} lts
          <img style="width:45px; height:40px" src="assets/beer.png" alt="Beer Image">
        </i>
        <i class="fa fa-fade fs-3 " style="color: crimson;font-weight: 500;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
           ({{calculo_sin_api() | number : "1.2-2"}}%) ups!
        </i>
      </li>
    </ul>
  </div>
</div>
