.bg{
    background-image: url('https://statics.forbesargentina.com/2022/03/crop/62309307f2750__822x460.webp');
    background-repeat:repeat;
    background-size:cover;
    background-position: center;
}
